@model object

@{
    ViewBag.Title = "home";
    Layout = "_Layout";
}

@section TopTop
{
    @Html.Partial("TopTop");
}
@section NavBar
{
    @Html.Partial("NavBar")
}
@section PageTitle
{

}
@section TopHeader
{
    <div class="row">
        <div>
            <ul class="bxslider">
                <li><img class="top-header-img" src="~/Resources/Images/Products/Oil/behranOil.png" /></li>
                <li><img class="top-header-img" src="~/Resources/Images/Products/Oil/bpOil.png" /></li>
                <li><img class="top-header-img" src="~/Resources/Images/Products/Oil/castrolOil.png" /></li>
                <li><img class="top-header-img" src="~/Resources/Images/Products/Oil/elfOil.png" /></li>
            </ul>
        </div>
    </div>
    <br/>
}
@section SideNav
{
    @Html.Partial("SideNav")
}

<h2>Home AgainFirst</h2>
<h2>Home</h2>
<h2>Home Again</h2>
<p1>@ViewBag.Title</p1>
<p>This was</p>

@section scripts{
    <!-- bxSlider Javascript file -->
    <script src="~/lib/bxslider-4/src/js/jquery.bxslider.js"></script>
    <!-- bxSlider CSS file -->
    <link href="~/lib/bxslider-4/dist/jquery.bxslider.min.css" rel="stylesheet" />

    <script>
        $(document).ready(function () {
            var slider = $('.bxslider').bxSlider();
            slider.startAuto();
        });
    </script>
}
