@model object

@{
    ViewData["Title"] = "خانه";
    ViewData["PageTitle"] = "خانه";
    Layout = "_Layout";
}

@section TopTop
{
    @Html.Partial("TopTop")
}
@section NavBar
{
    @Html.Partial("NavBar")
}
@section PageTitle
{

}
@section TopHeader
{
    <div class="row top-header">
        <div>
            <ul class="bxslider">
                <li><img  src="~/Resources/Images/FirstPage/1.png" /></li>
                <li><img  src="~/Resources/Images/FirstPage/2.jpg" /></li>
                <li><img src="~/Resources/Images/FirstPage/3.jpg" /></li>
                <li><img src="~/Resources/Images/FirstPage/4.jpg" /></li>
                <li><img src="~/Resources/Images/FirstPage/5.jpg" /></li>
            </ul>
        </div>
    </div>
    <br />
}
@section SideNav
{
    @Html.Partial("SideNav")
}
@section Body
{
    <div class="row main text-center">
        <h1>شعار ما</h1>
        <h3>خدمات برتر</h3>
        <h3>تکیه بر تجربه و تخصص</h3>
        <h3>عملکرد سریع</h3>
    </div>
}

@section Footer
{
    @Html.Partial("Footer")
}

@section scripts{
    <!-- bxSlider Javascript file -->
    <script src="~/lib/bxslider-4/src/js/jquery.bxslider.js"></script>
    <!-- bxSlider CSS file -->
    <link href="~/lib/bxslider-4/dist/jquery.bxslider.min.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            var slider = $('.bxslider').bxSlider();
            slider.startAuto();
        });
    </script>
}