@model object

@{
    ViewData["Title"] = "محصولات";
    ViewData["PageTitle"] = "محصولات ما";
    Layout = "_Layout";
}

<div class="row text-right">
    <div class="col-sm-12">
        <h1>روغن ها و روانکارها</h1>
    </div>
</div>

<div class="row text-center">
    <div class="col-sm-3 productComponent">
        <a href="~/Resources/Pdf/Products/Oil/behranOil.pdf" target="_blank">
            <img class="myImage" src="~/Resources/Images/Products/Oil/behranOil.png" />
        </a>
    </div>
    <div class="col-sm-3 productComponent">
        <a href="~/Resources/Pdf/Products/Oil/iranOil.pdf" target="_blank">
            <img class="myImage" src="~/Resources/Images/Products/Oil/iranOil.png" />
        </a>
    </div>
    <div class="col-sm-3 productComponent">
        <a href="~/Resources/Pdf/Products/Oil/parsOil.pdf" target="_blank">
            <img class="myImage" src="~/Resources/Images/Products/Oil/parsOil.png" />
        </a>
    </div>
    <div class="col-sm-3 productComponent">
        <a href="~/Resources/Pdf/Products/Oil/sepahanOil.pdf" target="_blank">
            <img class="myImage" src="~/Resources/Images/Products/Oil/sepahanOil.png" />
        </a>
    </div>
</div>
<br />
<div class="row text-center">
    <div class="col-sm-3 productComponent">
        <a href="~/Resources/Pdf/Products/Oil/shellOil.pdf" target="_blank">
            <img class="myImage" src="~/Resources/Images/Products/Oil/shellOil.png" />
        </a>
    </div>
    <div class="col-sm-3 productComponent">
        <a href="~/Resources/Pdf/Products/Oil/mobilOil.pdf" target="_blank">
            <img class="myImage" src="~/Resources/Images/Products/Oil/mobilOil.png" />
        </a>
    </div>
    <div class="col-sm-3 productComponent">
        <a href="~/Resources/Pdf/Products/Oil/castrolOil.pdf" target="_blank">
            <img class="myImage" src="~/Resources/Images/Products/Oil/castrolOil.png" />
        </a>
    </div>
    <div class="col-sm-3 productComponent">
        <a href="~/Resources/Pdf/Products/Oil/totalOil.pdf" target="_blank">
            <img class="myImage" src="~/Resources/Images/Products/Oil/totalOil.png" />
        </a>
    </div>
</div>
<br />
<div class="row text-center">
    <div class="col-sm-3 productComponent">
        <a href="~/Resources/Pdf/Products/Oil/" target="_blank">
            <img class="myImage" src="~/Resources/Images/Products/Oil/fuchsOil.png" />
        </a>
    </div>
    <div class="col-sm-3 productComponent">
        <a href="~/Resources/Pdf/Products/Oil/" target="_blank">
            <img class="myImage" src="~/Resources/Images/Products/Oil/elfOil.png" />
        </a>
    </div>
    <div class="col-sm-3 productComponent">
        <a href="~/Resources/Pdf/Products/Oil/" target="_blank">
            <img class="myImage" src="~/Resources/Images/Products/Oil/liquiMolyOil.png" />
        </a>
    </div>
    <div class="col-sm-3 productComponent">
        <a href="~/Resources/Pdf/Products/Oil/" target="_blank">
            <img class="myImage" src="~/Resources/Images/Products/Oil/bpOil.png" />
        </a>
    </div>
</div>
<br />
<div class="row text-right">
    <div class="col-sm-12">
        <h1>لاستیک</h1>
    </div>
</div>
<div class="row text-center">
    <div class="col-sm-3 productComponent">
        <a href="#">
            <img class="myImage" src="~/Resources/Images/Products/Tire/barezTire.png" />
        </a>
    </div>
    <div class="col-sm-3 productComponent">
        <a href="#">
            <img class="myImage" src="~/Resources/Images/Products/Tire/michelinTire.png" />
        </a>
    </div>
    <div class="col-sm-3 productComponent">
        <a href="#">
            <img class="myImage" src="~/Resources/Images/Products/Tire/goodYearTire.png" />
        </a>
    </div>
    <div class="col-sm-3 productComponent">
        <a href="#">
            <img class="myImage" src="~/Resources/Images/Products/Tire/semexTire.png" />
        </a>
    </div>
</div>
<br />
<div class="row text-center">
    <div class="col-sm-3 productComponent">
        <a href="#">
            <img class="myImage" src="~/Resources/Images/Products/Tire/kumhoTire.png" />
        </a>
    </div>
    <div class="col-sm-3">
        <a href="#">
            <img class="myImage" src="~/Resources/Images/Products/Tire/bktTire.png" />
        </a>
    </div>
    <div class="col-sm-3 productComponent">
        <a href="#">
            <img class="myImage" src="~/Resources/Images/Products/Tire/aeolusTire.png" />
        </a>
    </div>
    <div class="col-sm-3 productComponent">
        <a href="#">
            <img class="myImage" src="~/Resources/Images/Products/Tire/ozka.png" />
        </a>
    </div>
</div>
<br />
<div class="row text-right">
    <div class="col-sm-12">
        <h1>فیلتر</h1>
    </div>
</div>
<div class="row text-center">
    <div class="col-sm-3 productComponent">
        <a href="#">
            <img class="myImage" src="~/Resources/Images/Products/Filter/hespFilter.png" />
        </a>
    </div>
    <div class="col-sm-3 productComponent">
        <a href="#">
            <img class="myImage" src="~/Resources/Images/Products/Filter/serkanFilter.png" />
        </a>
    </div>
    <div class="col-sm-3 productComponent">
        <a href="#">
            <img class="myImage" src="~/Resources/Images/Products/Filter/kajFilter.png" />
        </a>
    </div>
    <div class="col-sm-3 productComponent">
        <a href="#">
            <img class="myImage" src="~/Resources/Images/Products/Filter/fleetGuardFilter.png" />
        </a>
    </div>
</div>
<br />
<div class="row text-center">
    <div class="col-sm-3 productComponent">
        <a href="#">
            <img class="myImage" src="~/Resources/Images/Products/Filter/dFilter.png" />
        </a>
    </div>
    <div class="col-sm-3 productComponent">
        <a href="#">
            <img class="myImage" src="~/Resources/Images/Products/Filter/mahleFilter.png" />
        </a>
    </div>
    <div class="col-sm-3 productComponent">
        <a href="#">
            <img class="myImage" src="~/Resources/Images/Products/Filter/mannFilter.png" />
        </a>
    </div>
    <div class="col-sm-3 productComponent">
        <a href="#">
            <img class="myImage" src="~/Resources/Images/Products/Filter/komatsuFilter.png" />
        </a>
    </div>
</div>
<br />
<div class="row text-center">
    <div class="col-sm-3 productComponent">
        <a href="#">
            <img class="myImage" src="~/Resources/Images/Products/Filter/catFilter.png" />
        </a>
    </div>
    <div class="col-sm-3 productComponent">
        <a href="#">
            <img class="myImage" src="~/Resources/Images/Products/Filter/baldwinFilter.png" />
        </a>
    </div>
    <div class="col-sm-3 productComponent">
        <a href="#">
            <img class="myImage" src="~/Resources/Images/Products/Filter/parkerFilter.png" />
        </a>
    </div>
    <div class="col-sm-3 productComponent">
        <a href="#">
            <img class="myImage" src="~/Resources/Images/Products/Filter/sfSureFilter.png" />
        </a>
    </div>
</div>
<br/>
<div class="row text-center">
    <div class="col-sm-3 productComponent">
        <a href="#">
            <img class="myImage" src="~/Resources/Images/Products/Filter/sakuraFilter.png" />
        </a>
    </div>
</div>
<div class="row text-right">
    <div class="col-sm-12">
        <h1>قطعات مصرفی و زیربندی</h1>
    </div>
</div>
<div class="row text-center">
    <div class="col-sm-3 productComponent">
        <a href="#">
            <img class="myImage" src="~/Resources/Images/Products/Parts/hespPart.png" />
        </a>
    </div>
    <div class="col-sm-3 productComponent">
        <a href="#">
            <img class="myImage" src="~/Resources/Images/Products/Parts/fltasCopcoPart.png" />
        </a>
    </div>
    <div class="col-sm-3 productComponent">
        <a href="#">
            <img class="myImage" src="~/Resources/Images/Products/Parts/bercoPart.png" />
        </a>
    </div>
    <div class="col-sm-3 productComponent">
        <a href="#">
            <img class="myImage" src="~/Resources/Images/Products/Parts/itmPart.png" />
        </a>
    </div>
</div>
<br />
<div class="row text-center">
    <div class="col-sm-3 productComponent">
        <a href="#">
            <img class="myImage" src="~/Resources/Images/Products/Parts/itrPart.png" />
        </a>
    </div>
</div>
<br/>