@model object

@{
    ViewData["Title"] = "محصولات";
    ViewData["PageTitle"] = "محصولات ما";
    Layout = "_Layout";
}

<h2>Products</h2>
<h1>روغن ها و روانکارها</h1>
<div class="row">
    <div class="col-sm-3">
        <a href="~/Resources/Pdf/Products/Oil/behranOil.pdf" target="_blank">
            <img class="myImage" src="~/Resources/Images/Products/Oil/behranOil.png" />
        </a>
    </div>
    <div class="col-sm-3">
        <a href="~/Resources/Pdf/Products/Oil/iranOil.pdf" target="_blank">
            <img class="myImage" src="~/Resources/Images/Products/Oil/iranOil.png" />
        </a>
    </div>
    <div class="col-sm-3">
        <a href="~/Resources/Pdf/Products/Oil/parsOil.pdf" target="_blank">
            <img class="myImage" src="~/Resources/Images/Products/Oil/parsOil.png" />
        </a>
    </div>
    <div class="col-sm-3">
        <a href="~/Resources/Pdf/Products/Oil/sepahanOil.pdf" target="_blank">
            <img class="myImage" src="~/Resources/Images/Products/Oil/sepahanOil.png" />
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <a href="~/Resources/Pdf/Products/Oil/shellOil.pdf" target="_blank">
            <img class="myImage" src="~/Resources/Images/Products/Oil/shellOil.png" />
        </a>
    </div>
    <div class="col-sm-3">
        <a href="~/Resources/Pdf/Products/Oil/mobilOil.pdf" target="_blank">
            <img class="myImage" src="~/Resources/Images/Products/Oil/mobilOil.png" />
        </a>
    </div>
    <div class="col-sm-3">
        <a href="~/Resources/Pdf/Products/Oil/castrolOil.pdf" target="_blank">
            <img class="myImage" src="~/Resources/Images/Products/Oil/castrolOil.png" />
        </a>
    </div>
    <div class="col-sm-3">
        <a href="~/Resources/Pdf/Products/Oil/totalOil.pdf" target="_blank">
            <img class="myImage" src="~/Resources/Images/Products/Oil/totalOil.png" />
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <a href="~/Resources/Pdf/Products/Oil/" target="_blank">
            <img class="myImage" src="~/Resources/Images/Products/Oil/fuchsOil.png" />
        </a>
    </div>
    <div class="col-sm-3">
        <a href="~/Resources/Pdf/Products/Oil/" target="_blank">
            <img class="myImage" src="~/Resources/Images/Products/Oil/elfOil.png" />
        </a>
    </div>
    <div class="col-sm-3">
        <a href="~/Resources/Pdf/Products/Oil/" target="_blank">
            <img class="myImage" src="~/Resources/Images/Products/Oil/liquiMolyOil.png" />
        </a>
    </div>
    <div class="col-sm-3">
        <a href="~/Resources/Pdf/Products/Oil/" target="_blank">
            <img class="myImage" src="~/Resources/Images/Products/Oil/bpOil.png" />
        </a>
    </div>
</div>