/*currentProject.scss*/
@import '../helpers/_variables.scss';

.top-top {
    background-color: $purple-darken-4;
    color: #bbb;
    padding: 7px 0 7px 0;
    font-size: 20px;

    @media screen and (max-width: 767px) {
        font-size: 12px;
    }
}



.navbar {
    margin-bottom: 0;
   
    background-color: $purple-darken-3;
}

.navbar-inverse .navbar-nav > li > a {
   color:#fff;
   font-size:20px;
}


.middle {
}


.sidenav {
    padding-top: 20px;
    background-color: $purple-accent-2;
}

.main {
}

footer {
    background-color: $purple-lighten-2;
    color: white;
    padding: 15px;
}

.page-title {
    background-color: #d8bfd8;
    height: 100px;
}



.productComponent {
    margin: 5px;
    padding: 5px;
    border: solid 1px $purple-accent-4;
    height: 150px;
    text-align: center;

    img {
        width: 90px;
        height: 90px
    }
}

.top-header-img {
    width: 200px;
    height: auto;
    margin: 0 auto;
}

.text-size-lg {
    font-size: 22px;
}
