/*currentProject.scss*/
@import '../helpers/_variables.scss';

.top-header {
    background-color: $topHeadlineBackgroundColor;
    color: #bbb;
    padding: 7px 0 7px 0;
    font-size: 20px;
}

@media screen and (max-width: 767px) {
    .top-header {
        font-size: 12px;
    }
}

.navbar {
    margin-bottom: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    background-color: $headlineBackgroundColor;
}

.navbar-inverse .navbar-nav > li > a {
    color: greenyellow;
}


.middle {
}


.sidenav {
    padding-top: 20px;
    background-color: $sidebarBackgroundColor;
}

.main {
}

footer {
    background-color: $footerBackgroundColor;
    color: white;
    padding: 15px;
}

.page-title {
    background-color: #d8bfd8;
    height: 100px;
}

img.myImage {
    width: 87px;
}

.productComponent {
    margin: 5px 0 5px 0;
}

.top-header-img{
    width:200px;
    height:auto;
    margin:0 auto;
}

.text-size-lg{
    font-size:22px;    
}
