/*currentProject.scss*/
@import '../helpers/_variables.scss';

.top-top {
    background-color: $purple-darken-4;
    color: $text-color-white;
    padding: 7px 0 7px 0;
    font-size: 12px;

    @media screen and (min-width: $size-sm) {
        font-size: 20px;
    }
}



.navbar {
    margin-bottom: 0;   
    background-color: $purple-darken-3;
}

.navbar-inverse .navbar-nav > li > a {
   color:$text-color-white;
   font-size:20px;
}

.page-title {
    background-color: $purple-accent-1;
    color:$text-color-black;
    height: 100px;
    margin:5px 0 5px 0;
}

.top-header {
    img {
        width: 80%;
        margin: 0 auto;
        height: 150px;
        @media screen and (min-width: $size-sm) {
            height: 300px;
        }
    }
}
.sidenav {
    padding-top: 20px;
    font-size: 20px;
    background-color: $green-lighten-5;
    color:$purple-darken-4;
}

.main {
}

footer {
    background-color: $purple-lighten-2;
    color: $text-color-white;
    padding: 15px;
}





.productComponent {
    margin: 5px;
    padding: 5px;
    border: solid 1px $purple-accent-4;
    height: 150px;
    text-align: center;

    img {
        width: 90px;
        height: 90px
    }
}



.text-size-lg {
    font-size: 22px;
}
