<p>
    <a asp-area="" asp-controller="Home" asp-action="Index">خانه</a>
</p>
<p>
    <a asp-area="" asp-controller="Home" asp-action="About">درباره ما</a>
</p>
<p>
    <a asp-area="" asp-controller="Home" asp-action="Contact">تماس با ما</a>
</p>
<p>
    <a asp-area="" asp-controller="Home" asp-action="Products">محصولات</a>
</p>
<p>
    <a asp-area="" asp-controller="Home" asp-action="Equivalent">معادل یابی روغن</a>
</p>