/*_variables.scss*/
/*Sizes*/
$size-xs: 576px;
$size-sm: 768px;
$size-md: 992px;
$size-lg:1200px;
/*Colors*/
$defaultColor:#333;
$defaultBackgroundColor:#fff;
$defaultBorderColor:#ccc;
$defaultBackgroundColorFocus:#e6e6e6;
$defaultBorderColorFocus: #8c8c8c;
$defaultBorderColorHover:#adadad;

$primaryBackgroundColor:#337ab7;
$primaryBorderColor: #2e6da4;
$primaryFocusBackgroundColor:#286090;
$primaryFocusBorderColor:#122b40;
$primaryHoverBorderColor:#204d74;

$successBackgroundColor:#5cb85c;
$successBorderColor:#4cae4c;
$successFocusBackgroundColor:#449d44;
$successFocusBorderColor:#255625;
$successHoverBorderColor: #398439;

$infoBackgroundColor:#5bc0de;
$infoBorderColor:#46b8da;
$infoFocusBackgroundColor:#31b0d5;
$infoFocusBorderColor:#1b6d85;
$infoHoverBorderColor:#269abc;

$warningBackgroundColor:#f0ad4e;
$warningBorderColor:#eea236;
$warningFocusBackgroundColor:#ec971f;
$warningFocusBorderColor:#985f0d;
$warningHoverBorderColor:#d58512;

$dangerBackgroundColor:#d9534f;
$dangerBorderColor:#d43f3a;
$dangerFocusBackgroundColor:#c9302c;
$dangerFocusBorderColor:#761c19;
$dangerHoverBorderColor:#ac2925;


$purple-lighten-5:#f3e5f5;
$purple-lighten-4:#e1bee7;
$purple-lighten-3:#ce93d8;
$purple-lighten-2:#ba68c8;
$purple-lighten-1: #ab47bc ;
$purple: #9c27b0;
$purple-darken-1: #8e24aa;
$purple-darken-2: #7b1fa2;
$purple-darken-3: #6a1b9a ;
$purple-darken-4: #4a148c;
$purple-accent-1: #ea80fc ;
$purple-accent-2: #e040fb;
$purple-accent-3:#d500f9;
$purple-accent-4:#aa00ff;

$green-lighten-5: #e8f5e9 ;
$green-lighten-4: #c8e6c9;
$green-lighten-3: #a5d6a7;
$green-lighten-2: #81c784;
$green-lighten-1: #66bb6a;
$green: #4caf50 ;
$green-darken-1: #43a047;
$green-darken-2: #388e3c;
$green-darken-3: #2e7d32;
$green-darken-4: #1b5e20 ;
$green-accent-1: #b9f6ca;
$green-accent-2: #69f0ae ;
$green-accent-3: #00e676;
$green-accent-4: #00c853;


$logo_color : #083B91;

/* corporate color palette */
$primary-dark: #06888A;
$primary-light: #FFEED5;
$primary-mid: #DC664A;
$secondary-dark: #5A3928;
$secondary-light: #FDC149;
/* functional variables */
$text-color-white:#fff;
$text-color-light:#333;
$text-color-dark:#aaa;
$text-color-black:#000;
$text-color: $primary-dark;
$border-light: $secondary-light;
$border-dark: $primary-dark;

/*Fonts*/
$headline-font: 'Varela Round', Helvetica, Arial, sans-serif;
$body-font: 'Palatino Linotype', Baskerville, serif;