@model Product

<div class="row productComponent">
    <a href="@Model.ProductDetailUrl" target="_blank">
        <img src="@Model.ImagePath"/>
    </a>
    <br/>
    <span>@Model.ProductName</span>
</div>