@model Product

<div class="row productComponent">
    @if (Model.ProductDetailUrl != "#")
    {
        <a href="@Model.ProductDetailUrl" target="_blank">
            <img src="@Model.ImagePath"/>
        </a>
        <br/>
    }
    else
    {
        <img src="@Model.ImagePath"/>
        <br/>
    }
    <span>@Model.ProductName</span>
</div>