.navbar {
    margin-bottom: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    background-color: #8a2be2;
    
}

.navbar-inverse .navbar-nav > li > a {
    color:  greenyellow;
}

.content {
    height: 100%;
}


.sidebar {
    padding-top: 20px;
    background-color: #d8bfd8;
    height: 100%;
    margin-top: -9999px;
    margin-bottom: -9999px;
    padding-top: 9999px;
    padding-bottom: 9999px;
}


.main-container {
    overflow: hidden;
}


footer {
    background-color: #9370db;
    color: white;
    padding: 15px;
}

.page-title {
    background-color: #d8bfd8;
    height: 100px;
}

img.myImage {
    width: 87px;
}


